/**
 * Let It Out
 *
 * A UI where you can write your words down and watch them fade away,
 * dissappearing from your mind.
 *
 * Author:  Anshul Kharbanda
 * Created: 9 - 21 - 2017
 */
#app {
    // Main stuff
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Consolas", "Arial", sans-serif;
    transition: 0.2s ease-in-out;

    // Textbox
    #textbox {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        resize: none;
        overflow-y: hidden;
        overflow-wrap: break-word;
        padding: 10pt;
        transition: 0.4s ease-in-out;
        color: transparent;
        text-shadow: 0 0 0 black;
        &.blurred { filter: blur(5px); }
        &:focus { outline: none; }
    }

    // Info Panel
    #info {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: none;
        padding: 5pt;

        #credits {
            * {
                font-size: 8pt;
                margin-bottom: 10pt;
            }
        }
    }

    // Toolbar
    #toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 5pt;
        text-align: right; }

    // Button
    .button {
        margin: 5pt;
        padding: 10pt;
        border-radius: 50%;
        display: inline-block;
        transition: 0.2s ease-in-out;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60% 60%;
        background-image: url('../icons/test.svg');
        background-color: #eee;
        &:hover { background-color: #ccc; }
    }

    // Darkmode setting
    &.darkmode {
        // Main stuff
        background-color: black;
        color: white;

        a {
            color: #0af;
            &:visited {
                color: #f0a;
            }
        }

        // Darkmode button
        .button {
            background-image: url('../icons/test-white.svg');
            background-color: #333;
            &:hover { background-color: #555; }
        }
    }

    // Darkmode button
    #button-darkmode {
        background-image: url('../icons/moon-phase-outline.svg'); }
    &.darkmode #button-darkmode {
        background-image: url('../icons/moon-phase-outline-white.svg'); }

    // Clear button
    #button-clear {
        background-image: url('../icons/refresh-button.svg'); }
    &.darkmode #button-clear {
        background-image: url('../icons/refresh-button-white.svg'); }

    #button-info {
        background-image: url('../icons/info.svg'); }
    &.darkmode #button-info {
        background-image: url('../icons/info-white.svg'); }
}
