#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-wrap: normal;
    padding: 10pt;
    font-family: "Consolas", "Arial", sans-serif;
}

#app > #toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10pt;
    text-align: right;
}

.button {
    margin: 5pt;
    background-image: url('resources/test.svg');
    background-repeat: no-repeat;
    background-color: #cccccc;
}
