/**
 * Let It Out
 *
 * A UI where you can write your words down and watch them fade away,
 * dissappearing from your mind.
 *
 * Author:  Anshul Kharbanda
 * Created: 9 - 21 - 2017
 */

/* Main App */
#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-wrap: normal;
    padding: 10pt;
    font-family: "Consolas", "Arial", sans-serif;
    transition: 0.2s ease-in-out; }
#app.darkmode {
    background-color: black;
    color: white; }
#app > #toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 5pt;
    text-align: right; }

/* Buttons */
.button {
    margin: 5pt;
    padding: 10pt;
    border-radius: 50%;
    display: inline-block;
    background-image: url('resources/test.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    background-color: #eee;
    transition: 0.2s ease-in-out; }
.button:hover { background-color: #ccc; }
#app.darkmode .button {
    background-image: url('resources/test-white.svg');
    background-color: #333; }
#app.darkmode .button:hover { background-color: #555; }

/* Darkmode button */
#button-darkmode {
    background-image: url('resources/moon-phase-outline.svg'); }
#app.darkmode #button-darkmode {
    background-image: url('resources/moon-phase-outline-white.svg'); }

/* Clear button */
#button-clear {
    background-image: url('resources/refresh-button.svg'); }
#app.darkmode #button-clear {
    background-image: url('resources/refresh-button-white.svg'); }
